.create-category {
    border: 2px ridge #000;
    border-radius: 10px;
    padding: 15px;
}
.create-category input{
    border: 2px ridge #000;
    display: block;
    margin: 0 auto;
    width: 35%;
    border-radius: 10px;
    background: #0776A0;
    color: #000;
    font-size: 24px;
    font-family: Consolas, sans-serif;
}

.create-category textarea {
    border: 2px ridge #000;
    display: block;
    margin: 0 auto;
    width: 35%;
    border-radius: 10px;
    background: #0776A0;
    color: #000;
    font-size: 24px;
    font-family: Consolas, sans-serif;
    height: 160px;
    max-height: 160px;
}
#add {
    margin: 0 auto;
    width: 200px !important;
    padding: 10px;
}
#add:hover {
    background: #0776A0;
}