body{
    background-color: #024c68;
    color: #fff;
}

header {
    background: repeating-linear-gradient(
            90deg,
            #0776A0,
            #0776A0 10px,
            #024c68 10px,
            #024c68 20px
    );
    border: 2px solid black;
}

header>img{
    margin: 2% 2%;
}

header>nav>ul>li{
    display: inline;
    margin: 0;
}

header>nav>ul>li>a{
    text-decoration: none;
    background-color: #024c68;
    color: #0776A0;
    font-size: 1.4em;
    border: 2px solid black;
    padding: 0 8%;
    margin: 0;
}
a{
	color: lightgreen;
}

/*header>nav>ul>li>a:active{*/
    /*background-color: #0776A0;*/
    /*color: #024c68;*/
/*}*/

header>nav>ul>li>a:hover{
    background-color: #0776A0;
    color: #024c68;
}

#userbar>a{
    text-decoration: none;
    color: #ff8500;
    font-size: 1.2em;
    margin: 0.1% 0.2%;
    border: 2px solid black;
    padding: 0.1%;
    background-color: #024c68;
}

#userbar>a:hover{
    background-color: #0776A0;
}

#footer {
    padding-top: 3%;
    border-top: 3px solid #ffffff;
}