.new-topic {
    border: 2px groove black;
    padding: 15px;
    border-radius: 15px;

}
label {
    display: block;
    margin-left: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ff8500;
    font-size: 23px;
}
.new-topic > input, .new-topic > textarea {
    display: block;
    margin: 0 auto;
    width: 35%;
    border-radius: 10px;
    background: #0776A0;
    color: #000;
    font-size: 24px;
    font-family: Consolas, sans-serif;
}
.new-topic > textarea {
    height: 160px;
    max-height: 160px;
    padding: 10px;
    max-width: 35%;

}
.new-topic > input {
    height: 40px;
    max-height: 40px;
}
.new-topic > select {
    display: block;
    margin: 0 32%;
    width: 15%;
    height: 30px;
    max-height: 30px;
    border-radius: 5px;
    background: #1164BE;
    color: #ff8500;
    font-weight: bold;
}
h2 {
    color: #ff8500;
    font-size: 30px;
}

.newTopic {
    width: 200px !important;
    padding: 10px;
}
.newTopic:hover {
    background: #0776A0;
}
.error-msg {
    font-size: 25px;
    color: red;
}